In [ ]:
import pandas as pd
import numpy as np
import mysql.connector
import dns.resolver
mydb= mysql.connector.connect(
host="localhost",
user="root",
password="Pangalele@123",
database="Donation"
)

mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE BLood Donation (name VARCHAR(45), Address VARCHAR(45))")
#please note this is for creating table on mySQL hence I was working on offline mode I manage use the following code as Alt my table are also on mySQL
# also I have Three CSV file that I will be attached on MongoDB and GitHub.

In [18]:
import pandas as pd
BloodBankName =["Desmon Tutu","Eyabonga Center","care for Love","Spirit of Donars","Love life"]
BloodBankAddress =["Cape Town","Gautang","Table View","Pineland","Port Elizebirth",]
BloodBankDonarsName =["Sipho","Diric","Vick","Loon","Mzodile"]
BloodBankContactNo =["078987876","0789876765","087676545","0816565453","0218787656"]

dict= {'BloodBankName':BloodBankName,'BloodBankAddress':BloodBankAddress,'BloodBankDonarsName':BloodBankDonarsName,'BloodBankContactNo':BloodBankContactNo}
df=pd.DataFrame(dict)
print (df)

      BloodBankName BloodBankAddress BloodBankDonarsName BloodBankContactNo
0       Desmon Tutu        Cape Town               Sipho          078987876
1   Eyabonga Center          Gautang               Diric         0789876765
2     care for Love       Table View                Vick          087676545
3  Spirit of Donars         Pineland                Loon         0816565453
4         Love life  Port Elizebirth             Mzodile         0218787656

In [19]:
df

      BloodBankName BloodBankAddress BloodBankDonarsName BloodBankContactNo
0       Desmon Tutu        Cape Town               Sipho          078987876
1   Eyabonga Center          Gautang               Diric         0789876765
2     care for Love       Table View                Vick          087676545
3  Spirit of Donars         Pineland                Loon         0816565453
4         Love life  Port Elizebirth             Mzodile         0218787656

In [22]:
import pandas as pd
DonarsName =["Kwezi","Luvo","Hola","Qondile","Mkaya"]
DonarsBloodgroup =["A","A","B","OO","AB",]
DonarsMedicalReport =["Execellent","Pending","Excllent","Good","Excellent"]
DonarsAddress =["Nyanga East","Cape Town","East London","Gugulethu","Port Elizebirth"]
DonarsContactDetails=["0789878787","0789765454","0812323434","0213434323","06213232324"]

dict= {'DonarsName':DonarsName,'DonarsBloodgroup':DonarsBloodgroup,'DonarsMedicalReport':DonarsMedicalReport,'DonasAddress':DonarsAddress,'DonarsContactDetails':DonarsContactDetails}
df=pd.DataFrame(dict)
print (df)

  DonarsName DonarsBloodgroup DonarsMedicalReport     DonasAddress  \
0      Kwezi                A          Execellent      Nyanga East
1       Luvo                A             Pending        Cape Town
2       Hola                B            Excllent      East London
3    Qondile               OO                Good        Gugulethu
4      Mkaya               AB           Excellent  Port Elizebirth

  DonarsContactDetails
0           0789878787
1           0789765454
2           0812323434
3           0213434323
4          06213232324

In [23]:
df

,DonarsName,DonarsBloodgroup,DonarsMedicalReport,DonasAddress,DonarsContactDetails
0,Kwezi,A,Execellent,Nyanga East,0789878787
1,Luvo,A,Pending,Cape Town,0789765454
2,Hola,B,Excllent,East London,0812323434
3,Qondile,OO,Good,Gugulethu,0213434323
4,Mkaya,AB,Excellent,Port Elizebirth,06213232324

In [25]:
import pandas as pd
PatientName =["kawa","Vuyolwethu","Chioi","Kamvalethu","Lwando"]
PatientAddress =["Cape Town","Gautang","Table View","Pineland","Port Elizebirth",]
PatientDiseas =["Kiddney Failer","Car Excident","liver Cancer","Loon","TB"]
PatientContactNumber =["078987876","0789876765","087676545","0816565453","0218787656"]

dict= {'PatientName':PatientName,'PatientAddress':PatientAddress,'PatientDiseas':PatientDiseas,'PatientContactNumber':PatientContactNumber}
df=pd.DataFrame(dict)
print (df)

  PatientName   PatientAddress   PatientDiseas PatientContactNumber
0        kawa        Cape Town  Kiddney Failer            078987876
1  Vuyolwethu          Gautang    Car Excident           0789876765
2       Chioi       Table View    liver Cancer            087676545
3  Kamvalethu         Pineland            Loon           0816565453
4      Lwando  Port Elizebirth              TB           0218787656

In [26]:
df

  PatientName   PatientAddress   PatientDiseas PatientContactNumber
0        kawa        Cape Town  Kiddney Failer            078987876
1  Vuyolwethu          Gautang    Car Excident           0789876765
2       Chioi       Table View    liver Cancer            087676545
3  Kamvalethu         Pineland            Loon           0816565453
4      Lwando  Port Elizebirth              TB           0218787656